<!DOCTYPE html>
{% load static %}
<html >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href= "{% static 'zing_it/css/mystyle.css' %}"/>
    <title>Home Page</title>
</head>
<body>
    <h1><center>Zing It</center></h1>

    {% for music in music_types %}
    <div class="row">
      <div class="column">
        <div class="card">
          <h2 class="text">{{ music }}</h2>
        </div>
      </div>
      {% if forloop.counter0|divisibleby:"3" %}<div>{% endif %}
    {% endfor %}

    

    
</body>
</html>